[Desktop Entry]
Icon=image-png
Name=EQlayout-game.png
Type=Link
URL[$e]=file:///media/BigTank/gamedev/EarQuest/src/img/EQlayout-game.png
X-KDE-LastOpenedWith=krita
