[Desktop Entry]
Icon=image-x-tga
Name=EQscreenbgrevisited.tga
Type=Link
URL[$e]=file:///media/BigTank/documents/Krita Files/EarQuest/EQscreenbgrevisited.tga
X-KDE-LastOpenedWith=krita
