[Desktop Entry]
Icon=image-png
Name=EQscreenbg.png
Type=Link
URL[$e]=file:///media/BigTank/gamedev/EarQuest/src/img/EQscreenbg.png
X-KDE-LastOpenedWith=krita
