[Desktop Entry]
Icon=application-x-krita
Name=EQscreenbgrevisited.kra
Type=Link
URL[$e]=file:///media/BigTank/documents/Krita Files/EarQuest/EQscreenbgrevisited.kra
X-KDE-LastOpenedWith=krita
