[Desktop Entry]
Icon=image-x-tga
Name=EQspellselection.tga
Type=Link
URL[$e]=file:///media/BigTank/documents/Krita Files/EarQuest/EQspellselection.tga
X-KDE-LastOpenedWith=krita
